body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:865px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:124px;
  width:831px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:827px;
  word-wrap:break-word;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:142px;
  width:156px;
  height:36px;
}
#u313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u313_input:disabled {
  color:grayText;
}
#u314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:136px;
  width:114px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u314_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:727px;
  top:133px;
  width:132px;
  height:55px;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u316 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:55px;
  width:141px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u316_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u317_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u317 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:347px;
  width:831px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u317_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:827px;
  word-wrap:break-word;
}
#u318 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:365px;
  width:156px;
  height:36px;
}
#u318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u318_input:disabled {
  color:grayText;
}
#u319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u319 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:359px;
  width:114px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u319_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u320 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:278px;
  width:141px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u320_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u321 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:365px;
  width:118px;
  height:31px;
}
#u321_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u321_input:disabled {
  color:grayText;
}
#u322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u322 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:353px;
  width:108px;
  height:55px;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u322_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u323 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:569px;
  width:831px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u323_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:827px;
  word-wrap:break-word;
}
#u324 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:587px;
  width:156px;
  height:36px;
}
#u324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u324_input:disabled {
  color:grayText;
}
#u325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u325 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:581px;
  width:114px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u326 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:500px;
  width:141px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u327 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:587px;
  width:118px;
  height:31px;
}
#u327_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u327_input:disabled {
  color:grayText;
}
#u328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u328 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:575px;
  width:108px;
  height:55px;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u328_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u329 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:41px;
  width:246px;
  height:73px;
}
#u329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:242px;
  word-wrap:break-word;
}
#u330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u330 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:659px;
  width:300px;
  height:123px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u330_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  word-wrap:break-word;
}
