body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:863px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:464px;
  width:831px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:827px;
  word-wrap:break-word;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:482px;
  width:156px;
  height:36px;
}
#u294_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u294_input:disabled {
  color:grayText;
}
#u295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:476px;
  width:114px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:473px;
  width:132px;
  height:55px;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:128px;
  word-wrap:break-word;
}
#u297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:395px;
  width:141px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:687px;
  width:831px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:827px;
  word-wrap:break-word;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:705px;
  width:156px;
  height:36px;
}
#u299_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u299_input:disabled {
  color:grayText;
}
#u300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:699px;
  width:114px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u301 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:618px;
  width:141px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u301_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:705px;
  width:118px;
  height:31px;
}
#u302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u302_input:disabled {
  color:grayText;
}
#u303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:693px;
  width:108px;
  height:55px;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u303_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:831px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:909px;
  width:831px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
  text-align:left;
}
#u304_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:827px;
  word-wrap:break-word;
}
#u305 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:927px;
  width:156px;
  height:36px;
}
#u305_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
  background-color:#999999;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u305_input:disabled {
  color:grayText;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:921px;
  width:114px;
  height:49px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF6600;
}
#u306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:110px;
  word-wrap:break-word;
}
#u307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:840px;
  width:141px;
  height:53px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#008000;
}
#u307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:137px;
  word-wrap:break-word;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:927px;
  width:118px;
  height:31px;
}
#u308_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
  background-color:#333333;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u308_input:disabled {
  color:grayText;
}
#u309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u309 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:915px;
  width:108px;
  height:55px;
  font-size:28px;
  text-decoration:underline;
  color:#0000FF;
}
#u309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:381px;
  width:246px;
  height:73px;
}
#u310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:242px;
  word-wrap:break-word;
}
#u311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:123px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:999px;
  width:300px;
  height:123px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#008000;
}
#u311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  word-wrap:break-word;
}
